.eform__container
  justify-content: flex-end
  text-align: right

.eform
  display: inline-flex
  font-family: $heading-font-family
  font-weight: 400
  max-width: 100%

  input, select
    position: relative
    border: none
    background-color: $white
    padding: 0.7rem 1rem
    flex: 1

  button[type=submit]
    border: 1px solid $base-body-color
    cursor: pointer
    background-color: $base-body-color
    color: $white
    +font-size(smallprint)
    font-weight: 500
    +horizontal-padding(2)
    &:hover
      color: $base-body-color
      background-color: $white
      transition: $transition

// desktop first
@media only screen and (max-width: 1000px)
  .eform__container
    text-align: center

// desktop first
@media only screen and (max-width: 600px)
  .eform
    flex-direction: column
