.half
  text-align: left
  +margin-bottom(8)
  position: relative
  display: flex
  flex-direction: column
  +font-size(regular)
  justify-content: space-between

.half:last-child
  margin-bottom: 0

.half:nth-of-type(2)
  @extend .half
  flex-direction: column-reverse

.half__title
  +heading-font-family
  +font-size(beta)
  font-weight: 700
  +margin-bottom(1)

.half__text
  +font-size(regular)

.half__item
  max-width: 700px
  margin: 0 auto
  text-align: center
  +margin-bottom(6)

.half__right
  @extend .half__item

.half__left
  @extend .half__item

.half__shadow
  +padding(3)
  border-radius: 3px
  max-width: 550px

.half__line
  margin: 0 auto
  +vertical-margin(2)
  line-height: 10px
  width: 100px
  height: 15px

.half__line--pink
  @extend .half__line
  background-color: rgba($raspberry, 0.5)
  // text-shadow: 0 -10px 30px, 0 0 2px, 0 0 1em #fc3df660, 0 0 0.5em #fc3df660, 0 0 32px #fc3df660, 0 10px 3px #fc3df630

.half__line--green
  @extend .half__line
  background-color: rgba($green, 0.5)
  // text-shadow: 0 -10px 30px, 0 0 2px, 0 0 1em #2b4e9960, 0 0 0.5em #2b4e9960, 0 0 32px #2b4e9960, 0 10px 3px #2b4e9930

.half__line--yellow
  @extend .half__line
  background-color: rgba($yellow, 0.5)
  // text-shadow: 0 -10px 30px, 0 0 2px, 0 0 1em #2b4e9960, 0 0 0.5em #2b4e9960, 0 0 32px #2b4e9960, 0 10px 3px #2b4e9930

.half__reaction
  text-align: center
  +margin-bottom(6)
  +font-size(alpha)

@media only screen and (min-width: 1000px)
  .half
    flex-direction: row
    align-items: center
    flex-basis: 50%
    +font-size(gamma)

  .half__title
    font-size: 32px
    line-height: 1em

  .half__text
    +font-size(gamma)

  .half:nth-of-type(2)
    flex-direction: row

  .half__item
    width: 50%
    margin: 0
    text-align: left

  .half__left
    +padding-right(7)

  .half__right
    +padding-left(7)

  .half__border
    padding: 50px

  .half__line
    +center
    transform: translate(-50%, -50%) skewX(30deg)
    font-size: 60px
    margin: 0

  .half__shadow
    +padding(7)
    box-shadow: $shadow
