.header
  +padding-top(10)
  +padding-bottom(10)

.header__container
  +wrap

.header__title
  +heading-font-family
  +font-size(big)
  text-align: center
  font-weight: 700
  max-width: 420px
  margin: 0 auto
  +margin-bottom(3)
  line-height: 1em

.header__subtitle
  text-align: center
  +font-size(regular)
  margin: 0 auto
  max-width: 420px
  +margin-bottom(3)

.header__image
  display: none

@media only screen and (min-width: 1000px)
  .header
    +padding-top(12)
    +padding-bottom(6)

  .header__title
    +font-size(huge)
    max-width: 620px

  .header__subtitle
    +font-size(alpha)
    max-width: 620px
    +margin-bottom(5)


  .header__image
    display: block
    width: 100px
