.q-a
  display: flex
  align-items: flex-start
  justify-content: space-between

.q-a__question
  +padding-right(2)
  width: 30%
  +font-size(beta)
  line-height: 1.2
  +heading-font-family
  +font-size(beta)
  font-weight: 700
  line-height: 1.2
  letter-spacing: -1.4px

.q-a__answer
  width: 60%
  +body-font-family

// desktop first
@media only screen and (max-width: 600px)
  .q-a
    display: flex
    flex-direction: column

  .q-a__question
    width: auto
    +margin-bottom(2)

  .q-a__answer
    width: auto
